:root{
    --c-white-green:#28a745;
}


.tr-admin-table td{
    font-size: 18px;
}
.help-block{
    color: red;
    font-size: 12px;
}
.val-null{
    color: #5c636a;
}
.images-container-update{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.image-container-update img, .images-container-update img{
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 10px;
}
.images-scroll-block{
    height: 210px;
    overflow-y: auto;
}