:root{
    --c-white-green:#28a745;
    --c-gray:#5c636a;
    --c-white-black:#343a40;
}


.tr-admin-table td{
    font-size: 18px;
}
.help-block{
    color: red;
    font-size: 12px;
}
.val-null{
    color: #5c636a;
}
.images-container-update{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.image-container-update img, .images-container-update img{
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 10px;
}
.images-scroll-block{
    height: 210px;
    overflow-y: auto;
}
.delete-panel-container{
    position: fixed;
    background: rgb(69, 69, 69, 50%);
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.delete-panel{
    width: 50%;

    min-width: 300px;
    background: #343a40;
}
.head-delete-panel{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadada;
    margin: 0px 10px;
}
.logo-delete-panel{
    font-size: 25px;
    color: white;
}
.close-delete-panel{
    color: #b4b4b4;
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 20px;
}
.close-delete-panel:hover{
    color: white;
}
.body-delete-panel h3{
    color: white;
    text-align: center;
}
.body-delete-panel{
    color: #b4b4b4;
    margin: 10px;
    min-height: 250px;
}
.btn-white{
    background: #d3d3d3;
    color: #1c1c1c;
    font-size: 1rem;
}
.btn-white:hover{
    color: #000000;
    background: white;
}
.font-size-20{
    font-size: 20px;
}
.content-scroll-block{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-width: 400px;
    max-height: 300px;
    overflow-y: auto;
}