:root{
    --main-collor:#fc8507;
    --main-collor-white: #f58c39;
    --main-c-gray: #333;
}

.main-logo-header{
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.btn-catalog-header{
    background: var(--main-collor);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 7px;
}
.btn-catalog-header:hover{
    background: var(--main-collor-white);
}
.btn-catalog-header i{
    font-size: 18px;
}
.search-input-header:focus{
    border-color: var(--main-collor-white);
    box-shadow: 0 0 0 0.2rem rgba(252, 133, 7, 0.55);
}
.btn-search-header{
    background: var(--main-collor);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 10px;
}
.btn-search-header:hover{
    background: var(--main-collor-white);
    color: white;
}
.btn-search-header:active{
    border-color: var(--main-collor-white);
    box-shadow: 0 0 0 0.2rem rgba(252, 133, 7, 0.55);
}
.link-header{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.2s;
}
.link-header:hover{
    color: var(--main-collor);
}
.main-footer{
    padding: 10px;
    color: white;
    background: var(--main-c-gray);
}
.footer-main-footer{
    text-align: center;
    color: #d5d5d5;
    font-size: 12px;
    border-top: 1px solid #d5d5d5;
    margin: 0px 10%;
}
.title-footer{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.main-content{
    height: 100vh;
}
.main-navbar-container{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition-duration: 0.3s;
    height: 100%;
    transform: translate(-1500px, 0px);
    z-index: 2;
}
.main-navbar-background{
    background: rgba(124, 124, 124, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}
.main-navbar{
    width: 80%;
    background: white;
    border-radius: 20px;
    min-width: 300px;
    overflow: auto;
    height: 80%;
    padding: 10px;
}
.navbar-title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.navbar-catalog{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    align-items: center;
}
.navbar-catalog:hover{
    color: var(--main-collor);
}
.navbar-catalog-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}
.navbar-catalog-icon{
    width: 160px;
    height: 160px;
}
.navbar-catalog-icon img{
    max-width: 150px;
    max-height: 150px;
}
.close-btn-navbar{
    display: flex;
}
.close-btn-navbar i{
    margin-left: auto;
    transition-duration: 0.3s;
    cursor: pointer;
}
.close-btn-navbar i:hover{
    color: var(--main-collor);
}
.open-navbar{
    transform: translate(0px, 0px);
}
